<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
        <div class="card h-50">
            <img src="/assets/img/DisneyHotel.jpg" class="card-img-top" alt="DisneyHotel">
            <div class="card-body">
                <h5 class="card-title">Disneyland Hotel</h5>
                <p class="card-text">The majestic Disney Hotel at the gateway to Disneyland Park is currently undergoing renovation to make it even more magical than before. Our Disney Imagineers will go out of their way to make it even more unique and enhance the fantastic
                    5-star service and unparalleled Disney hospitality.
                </p>
                <div class="text-end" *ngFor="let pricone of travelone">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ pricone.startdate }}</p>
                        <p class="product-price h5 m-3">{{ pricone.duration }}</p>
                        <p class="product-price h4 m-3">{{ pricone.priceone }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-50">
            <img src="/assets/img/Viroth.jpg" class="card-img-top" alt="Viroth">
            <div class="card-body">
                <h5 class="card-title">Viroth's Hotel</h5>
                <p class="card-text">Viroth’s Hotel is ideally located in a leafy street in the center of Siem Reap, in the vibrant Wat Bo area, the hotel boast 50’s-inspired, complemented by large green area and vertical gardens. This peaceful area adjacent to the river
                    is just steps away from the old market, shopping and entertainment district, and 15 minutes ride from the UNESCO World Heritage Site of Angkor Wat, while Siem Reap International Airport is access within an 8 km drive. At Viroth’s Hotel,
                    guests can enjoy a rejuvenating spa treatment, a 20-meter swimming pool and an appetizing food selection of local Khmer cuisine and continental dishes. Guests can also approach the front desk for tour arrangements, ticketing and concierge
                    service.
                </p>
                <div class="text-end" *ngFor="let prictwo of traveltwo">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ prictwo.startdate }}</p>
                        <p class="product-price h5 m-3">{{ prictwo.duration }}</p>
                        <p class="product-price h4 m-3">{{ prictwo.pricetwo }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-50">
            <img src="/assets/img/LaSiesta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hanoi La Siesta Hotel & Spa</h5>
                <p class="card-text">Hanoi La Siesta Hotel & Spa offers a selection of cozy rooms and suites with free WiFi in Hanoi. Featuring its own restaurant, the hotel also has a 24-hour front desk. The hotel is 1,000 feet from Old City Gate, 1,650 feet from Ngoc Son
                    Temple and Dong Xuan Market. Noi Bai International Airport is 13 mi away.
                </p>
                <div class="text-end" *ngFor="let prictree of traveltree">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ prictree.startdate }}</p>
                        <p class="product-price h5 m-3">{{ prictree.duration }}</p>
                        <p class="product-price h4 m-3">{{ prictree.pricetree }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/Tulemar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tulemar Bungalows & Villas</h5>
                <p class="card-text">Tulemar is a thirty-three acre residential resort located right in the heart of Manuel Antonio, Costa Rica. We have a collection of over 50 unique and individual accommodations, top-rated on TripAdvisor, ranging from 1-4 bedrooms including
                    our Tulemar Bungalows, the new Tulemar Bamboo Villas, and our luxurious Private Villas.
                </p>
                <div class="text-end" *ngFor="let pricfour of travelfour">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ pricfour.startdate }}</p>
                        <p class="product-price h5 m-3">{{ pricfour.duration }}</p>
                        <p class="product-price h4 m-3">{{ pricfour.pricefour }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/quinta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Quinta Jardins do Lago</h5>
                <p class="card-text">This elegant small luxury botanical garden hotel in Madeira Island is Quinta Jardins do Lago. We are delightfully situated on one of the green hills surrounding the city of Funchal and very close to its principal area of historical interest.
                    This charming Madeiran Quinta was built in the 18th century. More recently it was the home of well-known French and British families. During the Napoleonic wars General Beresford, Commander of the British forces on the island, chose
                    it as his residence. His magnificent sideboard, a reminder of his stay, still adorns our dining room. Today, Quinta Jardins do Lago, with 31 double rooms, 4 Historical Junior Suites, 4 Premier Suites and 1 Presidencial Suite, all facing
                    south to the luscious gardens, have been passionately designed to offer the best accommodation with modern functionality in traditional comfort and style. This is undoubtedly one of the many reasons why we have become Madeira islands
                    most sought after small luxury botanical garden hotel. The lush gardens are absolutely amazing with more than 500 different species of plants which are unique in their variety and natural beauty. With an area of 2.5 hectares full of
                    wonderful examples of rare species and old trees as well as many colourful and delicate flowers, the Flora of ‘Quinta Jardins do Lago‘ is such a rich and diverse collection that it can rival any good botanical gardens.
                </p>
                <div class="text-end" *ngFor="let pricfive of travelfive">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ pricfive.startdate }}</p>
                        <p class="product-price h5 m-3">{{ pricfive.duration }}</p>
                        <p class="product-price h4 m-3">{{ pricfive.pricefive }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/assets/img/omina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">THE OMNIA</h5>
                <p class="card-text">From the great wide world to the smallest detail THE OMNIA – All individual parts come together here high on the rock to form an atmospheric whole. The location, the architecture and the design are one component. But the most important
                    element is you, our guest, with your individual wishes and needs to which we respond with personal service in an informal way. Here you should feel at ease, you should quite simply be yourself. This is the place for unforgettable moments
                    in calmth and harmony. Welcome!
                </p>
                <div class="text-end" *ngFor="let pricsix of travelsix">
                    <div class="product-details">
                        <p class="product-price h5 m-3">{{ pricsix.startdate }}</p>
                        <p class="product-price h5 m-3">{{ pricsix.duration }}</p>
                        <p class="product-price h4 m-3">{{ pricsix.pricesix }} €</p>
                        <button class="btn btn-primary product-button" type="button">LOG IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cart" class="mt-5">
    <div class="cart-header h4  border-bottom row">

        <span class="cart-price col-3 mb-3">PRICE</span>

    </div>
    <div id="cart-items">
        <!-- empty cart -->
    </div>
    <div id="total" class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span id="price" class="cart-total-price h3">€0.00</span>
    </div>
    <div class="d-flex justify-content-center m-4">
        <button id="btn-purchase" class="btn btn-primary btn-purchase" type="button">Check out <br><i
                class="fa fa-handshake-o" style="font-size:36px;color:white"></i></button>
    </div>
</div>